<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/main.css"/>
	</head>

	<body class="black">
		<nav>
		  <div class="nav-wrapper">
            <form action="#">
		      <div class="input-field amber black-text">
		        <input id="search" class="amber black-text" type="search" required>
		        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
		        <i class="material-icons">close</i>
		      </div>
            </form> 
		  </div>
		</nav>

        <form action="#">
		  <div class="row">
		    <div class="col s2">
				<p class="amber-text centerel flow-text">Rings</p>
			</div>
			<div class="col s10">
              <p class="range-field">
                <input class="amber centervert" type="range" id="rings" min="5" max="30" value="15"/>
              </p>
		    </div>
          </div>
		  <div class="row">
		    <div class="col s2">
				<p class="amber-text centerel flow-text">Miles</p>
			</div>
			<div class="col s10">
              <p class="range-field">
                <input class="amber" type="range" id="miles" min="25" max="500" value="100"/>
              </p>
		    </div>
          </div>
        </form>

		<div id="map"></div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCESuC6JVJ7gGkXdY1XR9xwu9X0avsiXgA&callback=initMap&libraries=places&v=weekly" defer></script>
		<script src="/static/script.js"></script>
	</body>
</html>
